<mat-card class="m-3">
  <mat-card-content>
    <mat-card-title>Empréstimos</mat-card-title>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let emprestimoUsuario of emprestimosUsuario | async" class="m-3">
    <mat-card-subtitle>Empréstimo</mat-card-subtitle>
    <mat-progress-bar mode="determinate" value="{{(emprestimoUsuario.parcelasPagas/emprestimoUsuario.parcelas)*100}}"></mat-progress-bar>
    <mat-card-content>
      ({{emprestimoUsuario.parcelasPagas}} / {{emprestimoUsuario.parcelas}})
    </mat-card-content>
    <mat-card-content>
      <button mat-raised-button color="primary"
      matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Action
  </button>
    </mat-card-content>
</mat-card>

<mat-card *ngFor="let emprestimo of emprestimos | async" class="m-3 "  >
  <mat-card-title>{{emprestimo.valor}} reais</mat-card-title>
  <mat-card-subtitle>taxa {{emprestimo.taxa}} a.m.</mat-card-subtitle>
  <mat-card-content align="right">
    <button mat-raised-button color="accent" (click)="modalInformacoesEmprestimo(informacoesEmprestimo, emprestimo)">
      Saiba mais
    </button>
  </mat-card-content>

  <!-- Modal para informações do empréstimo -->
  <ng-template #informacoesEmprestimo let-modal>
    <mat-card>
      <mat-card-title>{{emprestimo.valor}} reais</mat-card-title>
      <mat-card-subtitle>taxa {{emprestimo.taxa}} a.m.</mat-card-subtitle>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Parcelas</mat-label>
          <mat-select>
            <mat-option *ngFor="let parcela of parcelas" [value]="parcela.value" (click)="calcularValorTotal(parcela, emprestimo)">
              {{parcela.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        Valor Total: {{valorTotal}}
      </mat-card-content>
      <mat-card-content align="right">
        <button mat-raised-button color="accent" (click)="contratarEmprestimo(emprestimo)" (click)="modal.close()">
          Contratar
        </button>
      </mat-card-content>
    </mat-card>

  </ng-template>

</mat-card>



